@import "bases/mixin";
@import "bases/map";
@import "bases/extend";
@font-face {
    font-family: 'NATS';
    src:url('../sources/font/NATS.ttf.woff') format('woff'),
        url('../sources/font/NATS.ttf.svg') format('svg'),
        url('../sources/font/NATS.ttf.eot'),
        url('../sources/font/NATS.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
}
h1, h2{
    font-family: 'NATS';
}
h1{
    font-size: 75px;
    font-weight: 200;
    width: 200px;
    display: inline;
    color: #141414;
    margin-top: 150px;
}
h2{
    font-size: 20px;
    width: 100px;
    display: inline;
}
a{
    color: #333333;
}
img {
    pointer-events: none;
  }
/*//////////////////////////////SCROLLBARS//////////////////////////////*/
body::-webkit-scrollbar {
	width: 17px;
}
body::-webkit-scrollbar-track {
	background: rgb(255, 255, 255);
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(37, 37, 37);
	@include scrollbarthumb;	
}
body::-webkit-scrollbar-thumb:hover {
	background-color: rgb(63, 63, 63);
}
.productosCarrousel::-webkit-scrollbar {
	width: 17px;
}
.productosCarrousel::-webkit-scrollbar-track {
	background: rgb(255, 255, 255);
}
.productosCarrousel::-webkit-scrollbar-thumb {
    background-color: rgb(189, 189, 189);
	@include scrollbarthumb;	
}
.productosCarrousel::-webkit-scrollbar-thumb:hover {
	background-color: rgb(134, 134, 134);
}

.carrousell__Account::-webkit-scrollbar {
	width: 17px;
	margin-top: 20px;
}
.carrousell__Account::-webkit-scrollbar-track {
	background: rgb(255, 255, 255);
}
.carrousell__Account::-webkit-scrollbar-thumb {
    background-color: rgba(156, 156, 156, 0.555);
	@include scrollbarthumb;	
}
.carrousell__Account::-webkit-scrollbar-thumb:hover {
	background-color: rgb(63, 63, 63);
}

.section_Pay::-webkit-scrollbar {
	width: 17px;
	margin-top: 20px;
}
.section_Pay::-webkit-scrollbar-track {
	background: rgb(255, 255, 255);
}
.section_Pay::-webkit-scrollbar-thumb {
    background-color: rgba(156, 156, 156, 0.555);
	@include scrollbarthumb;	
}
.section_Pay::-webkit-scrollbar-thumb:hover {
	background-color: rgb(63, 63, 63);
}
/*/////////////////ANIMACIONES/////////////////*/
@keyframes animacion_iconos {
    0%{
        left: 0;
        transform: translate(-50px, 0px);
    }
    100%{
        right: 50px;
        transform: translate(0px, 0px);
    }
}
@keyframes animacion_opacidad {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
/*/////////////////BODY START//////////////////*/

@import "componentes/inicio";
/*/////////////////////ACOUNT HTML////////////////////////*/
@import "componentes/account";


///////////////////////LOG-IN////////////////*/
@import "componentes/login";
/*form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 2px solid #cccccc00;
    background-color: #ffffff;
    border-radius: 15px;
    width: 23%;
    height: 500px;
    margin-left: 10%;
    margin-top: 3%;
}
form  label{
    margin-left: 10%;
    margin-top: 10%;
    font-family: 'NATS';
    font-size: 25px;
    color: #3d3d3d;
}
form input{
    margin-left: 10%;
    height: 5%;
    width: 80%;
    border: 1px solid rgb(180, 180, 180);
    background-color: rgb(144 155 193 / 24%);
    border-radius: 3px;
}
.main__Login{
    background: linear-gradient(332deg, rgba(255,255,255,1) 0%, rgba(92,98,124,1) 100%);
    height: 1000px;
}
.main__Login h1{
    margin-top: 5%;
    margin-left: 5%;
    color: #ffffff;
}
form a{
    text-align: center;
    margin-top: 25px;
}
form div button{
    width: 35%;
    height: 40%;
    background-color: rgb(87, 90, 102);
    border: none;
    color: rgb(233, 233, 233);
}
form div button:hover{
    background-color: rgb(60, 62, 70);
    color: rgb(233, 233, 233);
    cursor: pointer;
}
form div p{
    cursor: pointer;
}

form div{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 85%;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 5%;
}*/
/*///////////////////////CONFIGURATION-BOOTSTRAP///////////////////*/
.bg-gradient-grey{
    background: linear-gradient(0deg, #b1b1b1 0%, rgb(255, 255, 255) 65%);
    border-radius: 25px;
}
.footer_p{
    margin: 0;
}
.fs-heart{
    font-size: 100%;
}
.flex-center{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.adjust-heart{
    width: 20%;
    height: 25%;
}
/*-/-/-/-/-/-/-/-/-/-/-///-----MOBILE FIRST-----///-/-/-/-/-/-/-/-/-/-/-/-*/
@media screen and (max-width: 768px) {
    
    h1{
        font-size: 2.3rem;
    }
    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
                            "header"
                            "main"
                            "footer";
    }
    .lateralBar{
        display: none;
    }
    .header_desktop{
        grid-area: header;
    }
    header button{
        display:block;
        cursor: pointer;
        background-color: #14141400;
        border: none;
    }
    header audio{
        display: none;
    }
    /*header input{
        height: 25px;
        width: 50%;
        border: 1px solid rgb(112, 112, 112);
        border-radius: 30px;
        margin-left:0 ;
    }
    header i{
        margin: 0px 0px;
    }*/
    main section{
        margin-top: 10px;
    }
    section a p{
        font-size: 0.7rem;
    }
    .imageClock{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 150px;
    }
    /*------------------------ACCOUNT------------------------*/
    .body__Account{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:"search_header"
                            "header"
                            "main"
                            "footer";
    }
    .header_desktop1{
        display: block;
        grid-area: search_header;
    }
    .body__Account header{
        justify-content: space-around;
    }
    .body__Account .header_desktop1{
        justify-content: space-around;
    }
    .body__Account .header__Account{
        justify-content: center;
    }
    .header__Account article{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        background: #14141400;
    }
    .header__Account div{
        align-items: center;
    }
    .body__Account header h1, h2{
        padding-left: 0 ;
    }
    .uil-angle-double-right{
        display: none;
    }
    .main__account{
        margin-left: 0;
        width: 100%;
        flex-direction: column;
    }
    .account__img{
        margin-left: 40px;
        margin-right: 20px;
    }
    .account__img1{
        margin-left: 15px;
        margin-right: 20px;
    }
    .body__Account main section article div {
        width: 75%;
    }
    .body__Account main section article h4 {
        font-size: 20px;
        width: 160px
    }
    .div__for__title{
        width: 98%;
    }
    .span__button{
        margin-left: 0;
    }
    .carrousell__Account{
        margin-left: 1%;
        max-height: 100%;
        overflow-x: auto;
        margin-top: 0px;
    }
    .div__for__title_Pay{
        margin-left: 0;
    }
    .section_Pay{
        margin-left: 0;
        width: 100%;
    }
    .boton__shield{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    /*--------------LOGIN--------------*/
    .login_grid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:"search_header"
                            "header"
                            "main"
                            "footer";
    }
    .loginbag{
        display: none;
    }
    form{
        width: 70%;
        margin: 0;
    }
    .main__Login{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main__Login h1{
        margin-left: 0;
        text-align: center;
        margin-top: 50px;
    }
}