@import "bases/mixin";
@import "bases/map";
@import "bases/extend";
@font-face {
    font-family: 'NATS';
    src:url('../sources/font/NATS.ttf.woff') format('woff'),
        url('../sources/font/NATS.ttf.svg') format('svg'),
        url('../sources/font/NATS.ttf.eot'),
        url('../sources/font/NATS.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
}
.subtitulos, h1, h2{
    font-family: 'NATS';
}
h1{
    font-size: 75px;
    font-weight: 200;
    width: 200px;
    display: inline;
    color: #141414;
    margin-top: 150px;
}
h2{
    font-size: 20px;
    width: 100px;
    display: inline;
}
a{
    color: #333333;
}
img {
    pointer-events: none;
  }
/*//////////////////////////////SCROLLBARS//////////////////////////////*/
body::-webkit-scrollbar {
	width: 17px;
}
body::-webkit-scrollbar-track {
	background: rgb(255, 255, 255);
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(37, 37, 37);
	@include scrollbarthumb;	
}
body::-webkit-scrollbar-thumb:hover {
	background-color: rgb(63, 63, 63);
}
.productosCarrousel::-webkit-scrollbar {
	width: 17px;
}
.productosCarrousel::-webkit-scrollbar-track {
	background: rgb(255, 255, 255);
}
.productosCarrousel::-webkit-scrollbar-thumb {
    background-color: rgb(189, 189, 189);
	@include scrollbarthumb;	
}
.productosCarrousel::-webkit-scrollbar-thumb:hover {
	background-color: rgb(134, 134, 134);
}

.carrousell__Account::-webkit-scrollbar {
	width: 17px;
	margin-top: 20px;
}
.carrousell__Account::-webkit-scrollbar-track {
	background: rgb(255, 255, 255);
}
.carrousell__Account::-webkit-scrollbar-thumb {
    background-color: rgba(156, 156, 156, 0.555);
	@include scrollbarthumb;	
}
.carrousell__Account::-webkit-scrollbar-thumb:hover {
	background-color: rgb(63, 63, 63);
}

.section_Pay::-webkit-scrollbar {
	width: 17px;
	margin-top: 20px;
}
.section_Pay::-webkit-scrollbar-track {
	background: rgb(255, 255, 255);
}
.section_Pay::-webkit-scrollbar-thumb {
    background-color: rgba(156, 156, 156, 0.555);
	@include scrollbarthumb;	
}
.section_Pay::-webkit-scrollbar-thumb:hover {
	background-color: rgb(63, 63, 63);
}
/*/////////////////ANIMACIONES/////////////////*/
@import "componentes/animaciones";
/*/////////////////BODY START//////////////////*/
@import "componentes/inicio";
/*/////////////////////ACOUNT HTML////////////////////////*/
@import "componentes/account";
///////////////////////LOG-IN////////////////*/
@import "componentes/login";
/*///////////////////////CONFIGURATION-BOOTSTRAP///////////////////*/
.bg-gradient-grey{
    background: linear-gradient(0deg, #b1b1b1 0%, rgb(255, 255, 255) 65%);
    border-radius: 25px;
}
.footer_p{
    margin: 0;
}
.fs-heart{
    font-size: 100%;
}
.flex-center{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.adjust-heart{
    width: 20%;
    height: 25%;
}